.chooseColor-display {
    display: flex;
    height: 100%;

}

.color-editor {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

.half-screen-display {
    width: 50%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}

.display-svg {
    width: 45%;
    /* border: 1px solid black; */
}


svg {
    height: 100%;
    width: 100%;
}

/* .color-grid {
    width: 100%;
} */

/* Add this at the end of your CSS file */
@media (max-width: 767px) {

    /* Adjust the max-width as needed */
    .half-screen-display {
        display: none;
    }

    .chooseColor-display {
        /* height: 550px; */
        height: 90vh;
    }

    .color-editor {
        /* height: 100%; */
        align-items: center;
        justify-content: space-around;
    }

    .selected-svg {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .color-grid-container {
        padding: 5px;
    }

    .color-grid {
        width: 100%;
    }

    .color-editor {
        width: 100%;
    }
}