.container {
    width: 80vw;
        margin-left: 10%;
        margin-top: 20%;
        display: grid;
        gap: 20px;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .4em;
}