.custom-button {

    width: 10em;
    height: 2em;
    border: none;

    color: rgb(0, 0, 0);
    padding: 1px 1px;
    font-size: 1.7em;

    background: #FFF4E3;
}
.custom-button:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
}