.custom-button {
    display: flex;
    width: 235px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 12px;

    border-radius: 8px;
    background: rgba(255, 244, 227, 0.89);
}