body{
    margin: 0;
    
}
.display {
   width: 50vw;
   height: 90vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    font-size: .7em;
    font-family:Syne-Bold, Syne;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 2px;
    
}

// dropdown style
.dropdown-item a  {
   color: black !important;
}


.design-container {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px

}

.design-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.design-item {
  align-item: center;
}
.design-item:hover {
      transform: scale(1.05);
      }

.pattern-title {
     font-size: .4rem;
    font-family:Syne-Bold, Syne;
    font-weight: 200;
    margin-bottom: 40px;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.button-container.container  {
   justify-content: center;
    margin-top: 1%;

   
}

.b-arrow{
   
    margin-left: 15%;
}

.f-arrow{
margin-left: 50%;


}
.arrow{
  color: #b4b4b4; 
  width: 90%;
 
}
.container-dots {
    width: 100%;
    display: flex;
}
.dot {
   width: 100px;  

}


   