body {
  margin: 0;
}
.design-text {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

li {
  color: black !important;
  font-size: 0.5rem;
  font-family: Syne-Bold, Syne;
  font-weight: 700;
  margin-bottom: 7px;
  letter-spacing: 1px;
}

.dropdown-toggle::after {
  display: none !important;
}
.design-how-underline{
border-bottom: 1px solid lightgray;

}
.dropdown-menu-list {
  border-top: 0 !important;
  border-bottom: 4px solid lightgray !important;
}

.chevron-down {
  margin-left: 5%;
}
.chevron-down {
  font-size: 0.8rem;
}
.design-dropdown .dropdown-toggle.active .chevron-down{
 transform: rotate(180deg);
}
.chevron-down svg {
  transition: transform 0.5s ease-in;
}

.dropdown-ordered-list {
  margin-bottom: -3%;
}
.diamond-icon {
  margin-left: -10%;
  color: blue;
  top: 10%;
}

.icon-number {
  position: absolute;
  color: white;
  top: 10%;
}
.icon-number.num-1 {
  left: -18%;
}
.icon-number.num-2 {
  left: -19%;
}
.icon-number.num-3 {
  left: -26%;
}

.fa-ul span {
  z-index: 1;
}
.fa-ul span {
  margin-top: 1%;
}

.design-it {
  margin-top: 20%;
  border-left: 10px solid white;
}

.design-how {
  font-size: 0.7rem;
}

svg.svg-inline--fa.fa-li {
  margin-left: 900%;
}

button.slick-next:before {
  color: black;
}

//styling progress bar

.progress-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.progress-container {
  margin-top: 8%;
}

.progress-content {
  align-items: center;
}
.progress-progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.progress-progress::before {
  content: "";
  position: absolute;
  background-color: blue !important;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  height: 1px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}
.progress-progress {
  position: absolute;
  background-color: light-blue;
  top: 50%;
  left: 0;
  transform-translatey: (-50%);
  border-radius: 5px;
  height: 4px;
  width: 50%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  display: flex;
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  transition: 0.4s ease;
}
.circle.active {
  border-color: blue;
}

// styling slick buttons

button.slick-next:hover {
  color: blue;
}

button.slick-next:before {
  color: blue;
}
button.slick-prev:before {
  color: blue;
}

//styling select design

.slick-slide {
  position: relative;
}

.slick-slide > div {
  margin: 0 -3px;
}
.slick-list {
  margin: 0 -10px;
}

.design-it {
  margin-left: 103% !important;
  border-radius: 10%;
  width: 84% !important;
  z-depth: 1;
  overflow: hidden;
}
.design-it{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 3px 10px 0 rgba(0,0,0,0.19);
  transform: translateY(-2px)
}
.design-container {
  width: 75%;
  margin: auto;
  margin-top: 10%
 }
.current-design-container {
  width: 50%;
  margin-bottom: 15%;
  
}
p span {
  font-size: 0.4rem;
  padding-left: 25%;
  font-family: Syne-Bold, Syne;
  font-weight: 700;
  margin-bottom: 0px;
}

.design-name {
}
.design-pattern-descriptions{
  margin-top: -10%
}

.slick-arrow {
}
p {
  font-size: 0.5rem;
  font-family: Syne-Bold, Syne;
  font-weight: 700;
  margin-bottom: 7px;
}

span.circle-icon {
  font-size: 0.4rem;
  color: white;
}
span.circle-icon {
  margin-left: 20%;
}

.btn-primary.next-arrow {
  float: right;
  width: 25%;
}

.btn-primary.back-arrow {
  width: 25%;
}
