html, body {
    height: 100%;

}

.container {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;

    justify-self: center;
    align-self: center;
    /* width: ; */
}


.design {
    height: 500px;
    display: flex;
}

.button-grid {
    margin-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .4em;
}