/* App.css or ChooseDesign.css */

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
}

.design-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.design-item {
  margin: 10px;
  flex: 1 0 20%; /* Grow and shrink freely, basis of 20% */
  max-width: 20%; /* Make sure item doesn't exceed 20% of container width */
  /* Adjust as necessary for your layout */
}