.design-patterns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;  /* Adjust for desired spacing between boxes */
  justify-content: space-between;
}

.pattern-box {
  flex: 0 0 48%;  /* 48% so there is a little space between boxes */
  height: 200px;  /* Adjust for desired box height */
  background-color: #ccc;  /* Placeholder color */
  border: 1px solid black;
}


.display-design-chosen {
  display: flex;
  justify-content: flex-start;
}

.design-image {
  max-width: 100%;
  height: auto;
}



/*--------- color section-----------------*/
.color-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;  /* adjust as needed */
}

.color-box {
  width: 20%;  /* adjust as needed */
  height: 100px;  /* adjust as needed */
  cursor: pointer;
}


/*----------- finishing options ------------*/
.finishing-options {
  display: flex;
  gap: 10px;  /* adjust as needed */
}

.finish-box {
  flex: 1;
  height: 100px;  /* adjust as needed */
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
