.form-container-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 90%;
    /* Adjusted for mobile, allowing some margin */
    max-width: 50vw;
    /* Ensures form doesn't exceed 50% of viewport width on larger screens */
    height: auto;
    /* Changed to auto to accommodate content size */
    margin: 20px auto;
    /* Center form with automatic horizontal margins */
    padding: 20px;
    box-sizing: border-box;
    /* Ensures padding doesn't add to the width */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width: calc(100% - 4em);
    /* Full width minus margin for consistent styling */
    height: 2em;
    margin: 0.5em 2em;
    /* Ensure margin is consistent and not too large */
    box-sizing: border-box;
    /* Ensures width calculation includes padding and border */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align items to the start for a cleaner look */
}

@media (max-width: 767px) {
    .form-container-container {
        width: 100%;
        /* Use 100% of the viewport width */
        border: none;
        /* Remove border or adjust as per your design */
    }

    .form-group {
        flex-direction: row;
        /* Change direction to row for single-line layout */
        justify-content: flex-start;
        /* Align items to the start */
        margin-bottom: 10px;
        /* Add some space between form groups */
    }

    input,
    .form-group label {
        margin-left: 0;
        /* Remove left margin for inputs and labels */
        width: 100%;
        /* Inputs take full width for better usability */
    }
}