/* Desktop Display */
body {
  margin: 0;
}
.header {
  max-width: 80%;
  background-color: white;
  height: 10px;
  position: fixed;
  width: 100%;
  top: 0px;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  /* border: 3px solid pink; */
  margin-top: 20px;
}
img.logo {
  width: 30%;
  float: left;
  margin: 0;
}
a {
  filter: invert(1);
}
.logo {
  /* border:3px solid pink; */
}
