.nav >*, .nav {
  border: 1px solid black;
}

.nav {
  /* background-color: pink; */
  width: 95%;
  /* height: 100%; */

  margin-left: 2.5%;
  margin-right: 2.5%;

  display: flex;
  justify-content: space-between;

  align-items: center;
  align-content: center;
}

.logo {
  display: flex;
  align-items: center;
}

ul {

  list-style: none;

  display: flex;
    width: 787px;
    height: 131px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}