.title {
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;

}

.choose-finish {
    display: flex;
    flex-direction: row;
}
.order-form {
    width: 50%;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between; */
}
.form-container {
    width: 70%;
}
.tile-preview-holder {
    width: 45%;
    height: 65vh;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: center;
    justify-content: center;
}

.download-holder {
    display: flex;
    justify-content: center;
}


@media (max-width: 767px) {
    .tile-preview-holder {
        display: none;
    }
    .order-form {
        width: 100vw;
        height: 690px;

        margin-top: 10vh;
    }
    .text-center {
        /* color: red; */
        font-size: 56px;
    }
        .form-container {
            width: 90%;
        } 

 }
