* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body, html {
    height: 100%;
    box-sizing: border-box;
    
}

.app {
    position: relative;
    background-color: lightgray
}

.cover {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
    z-index: 1;
}

.fade-out {
    opacity: 0;
}

.logo {
    width: 400px; 
}
.display-none {
    display: none;
}