.nav-title a{
    font-size: .55rem;
    font-family: Syne-Bold, Syne;
    margin-top: 15px;
    color: #b4b4b4;
    
}
.check-btn {
    float: left;
    line-height: 80px;
    margin-top: 15px;
    cursor: pointer;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
}
img.logo 
{
  height: 2.81rem;
  width: 18.75rem;
  position: relative;
  object-fit: contain;
}
a 
{
  filter: invert(1);
}
nav a
{
   font-family: 'Inter', sans-serif;
    
}
.toggle{
   filter: invert(1); 
   border: 0px !important;
 
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navContainer
{
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  font-size: var(--medium-size) !important;
  color: var(--dark-dark);
  font-family: var(--body-body-1-base);
}